@import url('./loading.css');
@import url('./envelope.css');

body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Monospace;
    font-size: 13px;
    line-height: 24px;
    overscroll-behavior: none;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1;
}

.bottom {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-evenly;

    width: 100%;
    text-align: end;
}

.bottom .music-play-button img {
    width: 35px;
    height: 35px;

    /* animation: button-rotate duration timing-function delay iteration-count direction fill-mode; */
    animation: button-rotate 5s linear 2s infinite;
}

.bottom .music-play-button:hover {
    cursor: pointer;
}

.bottom .music-play-button:active {
    transform: scale(0.6);
}

@keyframes button-rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bottom .text {
    margin-right: 10px;
    font-size: 15px;
    color: #98261f;
}

.bottom .text .merry {
    color: #f40002;
}

.bottom .author a {
    color: #1f8415;
    text-decoration: none;
}
.bottom .text img {
    width: 30px;
    color: #1f8415;
    text-decoration: none;
}

a,
button,
input,
select,
.music-play-button {
    pointer-events: auto;
}
